### Symfony secrets ###
.env
.env.local
.env.*.local
/config/secrets/prod/*
/config/secrets/dev/*
/config/secrets/test/*

### Composer dependencies ###
/vendor/

### Symfony cache/logs ###
/var/

### Node dependencies ###
/node_modules/
/public/build/
/assets/vendor/

### Uploads utilisateurs sensibles ###
/public/uploads/
/public/files/

### Backups / tests / cache ###
/src_backup_phpstan/
/.phpunit.cache/
/tests/

### IDE / OS ###
.idea/
.vscode/
.DS_Store
Thumbs.db