### Symfony ###
.env
.env.local
.env.dev.local
.env.test.local
.env.prod.local

/var/
/vendor/

### PHPUnit ###
.phpunit.result.cache

### Front ###
/node_modules/

### IDE ###
/.vscode/
/.idea/

### OS ###
.DS_Store
Thumbs.db

### Uploads ###
/public/uploads/utilisateur/cover/
/public/uploads/utilisateur/profil/
/public/files/
/public/image/

### Logs ###
*.log